.container {
  background-color: pink;
  width: 100% auto;
  height: 100% auto;
}
.header {
  width: 100% auto;
  height: 100% auto;
  text-align: center;
  font-size: 200%;
}
.Jubbutton {
  background-color: white;
  font-size: 150%;
}
.Jubbutton:hover {
  background-color: palevioletred;
}
.ResetJubbutton {
  font-size: 150%;
}
.ResetJubbutton:hover {
  background-color: palevioletred;
}
.JubCount {
  text-align: center;
  font-size: 200%;
}
.button {
  text-align: center;
}
.Video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Video1 {
  width: 20%;
  height: auto;
  object-fit: cover;
}